body {
    background-color: #cad2c5;
}

#githeader {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    color: white;
}

.navbar {
    background-color: #2f3d46;
    height: 75px;

}

img {
    background-color: white;
}

#rectangle {
    height: 480px;
    width: 250px;
    border-radius: 10px;
    position: absolute;
    top: 125px;
    left: 70px;
    background-color: #353535;
}

#square1 {
    height: 175px;
    width: 175px;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    left: 450px;
    background-color: #353535;
}

#square2 {
    height: 175px;
    width: 175px;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    left: 700px;
    background-color: #353535;
}

#square3 {
    height: 175px;
    width: 175px;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    left: 950px;
    background-color: #353535;
}

#sreach {
    height: 35px;
    width: 550px;
    border-radius: 10px;
    position: absolute;
    top: 125px;
    left: 530px;
    color: antiquewhite;
    background-color: #353535;
}

#rectangle2 {
    height: 175px;
    width: 700px;
    border-radius: 10px;
    position: absolute;
    top: 425px;
    left: 450px;
    background-color: #353535;
}

span {
    position: absolute;
    left: 15px;
}